<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= @conn.assigns[:title] || "轩意Admin" %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="//cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link href="//cdn.bootcss.com/messenger/1.4.2/css/messenger.css" rel="stylesheet"> -->
    <!-- <link href="//cdn.bootcss.com/messenger/1.4.2/css/messenger-theme-future.min.css" rel="stylesheet"> -->
    <link href="//cdn.bootcss.com/vex-js/2.3.2/css/vex.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/vex-js/2.3.2/css/vex-theme-os.min.css" rel="stylesheet">

  </head>

  <body class="hold-transition skin-blue sidebar-mini">
    <div id="svr-data" data-is_login=<%= if @current_user do %> true <% else %> false <% end %> >
    </div>
    <input id="_csrf_token" type="hidden" name="_csrf_token" value="<%= get_csrf_token() %>">
    <div class="wrapper">
      
      <header class="main-header">
        <!-- Logo -->
        <a href="/" class="logo"><b>轩意Admin</b></a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <%= if @current_user do %>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/images/gaoxiao.gif" class="user-image" alt="User Image"/>
                    <span class="hidden-xs"><%= @current_user.name %></span>
                  </a>
                  <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                      <img src="/images/gaoxiao.gif" class="img-circle" alt="User Image" />
                      <p>
                      <%= if @current_user do %>
                        <%= @current_user.name %>
                      <% end %>
                      </p>
                    </li>
                    <!-- Menu Body -->
                    <!-- <li class="user-body">
                      <div class="col-xs-4 text-center">
                        <a href="#">Followers</a>
                      </div>
                      <div class="col-xs-4 text-center">
                        <a href="#">Sales</a>
                      </div>
                      <div class="col-xs-4 text-center">
                        <a href="#">Friends</a>
                      </div>
                    </li> -->
                    <li class="user-footer">
                      <div class="pull-left">
                        <a id="changePassword" class="btn btn-default btn-flat" href="#">修改密码</a>
                      </div>
                      <div class="pull-right">
                        <%= link "退出", to: session_path(@conn, :delete, @current_user), method: "delete", class: "btn btn-default btn-flat" %>
                      </div>
                    </li>
                  <% else %>
                    <li><a href="/login">登录</a></li>
                  <% end %>
                    <!-- Menu Footer-->
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="/images/gaoxiao.gif" class="img-circle" alt="User Image" />
            </div>
            <%= if @current_user do %>
              <div class="pull-left info">
                <p><%= @current_user.cn_name %></p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
              </div>
            <% else %>
              <div class="pull-left info">
                <i class="fa fa-circle text-muted"></i> Offline
              </div>
            <% end %>
          </div>
          <!-- search form -->
          <!-- <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search..."/>
              <span class="input-group-btn">
                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form> -->
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview">
              <a href="#">
                <i class="fa fa-gamepad"></i> <span>服务器管理</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> 服务器列表</a></li>
                <li class=""><a href="#"><i class="fa fa-circle-o"></i> 操作历史</a></li>
              </ul>
            </li>
            <li class="header">LABELS</li>
            <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <%= @inner %>
      </div><!-- /.content-wrapper -->

      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 2.0
        </div>
        <strong>Copyright &copy; 2015-2016 <a href="#">轩意网络</a>.</strong> All rights reserved.
      </footer>

      <section class="content">
        <div class="example-modal">
          <div class="modal modal-primary fade" id="change_password">
            <div class="modal-dialog" >
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title"><i class="fa fa-gamepad"></i>更改密码</h4>
                </div>
                <div class="modal-body">
                  <form class="form-horizontal" role="form" >
                    <div class="box-body">
                      <div class="form-group">
                        <label for="ori_password" class="col-xs-3 control-label">旧密码</label>
                        <div class="col-xs-6">
                          <input type="text" maxlength=8 class="form-control input-sm" id="ori_password" name="ori_password">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="new_password" class="col-xs-3 control-label">新密码</label>
                        <div class="col-xs-6">
                          <input type="text" maxlength=8 class="form-control input-sm" id="new_password" name="new_password">
                        </div>
                      </div>
                    </div>
                  </form>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline pull-left" data-dismiss="modal"><i class="fa fa-times"></i>关闭</button>
                  <button type="button" id="to_change_password" class="btn btn-outline" data-dismiss="modal"><i class="fa fa-edit"></i>修改</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
        </div><!-- /.example-modal -->
      </section>

    </div><!-- ./wrapper -->


    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/vex-js/2.3.2/js/vex.combined.min.js"></script>
    <script>vex.defaultOptions.className = 'vex-theme-os';</script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <!-- <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script> -->
  </body>

  <!-- <body class="hold-transition skin-blue sidebar-mini">
    <div class="container" role="main">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="http://www.phoenixframework.org/docs">Get Started</a></li>
        </ul>
        <span class="logo"></span>
      </div>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <%= @inner %>

    </div> 
    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="//cdn.bootcss.com/vex-js/2.3.2/js/vex.combined.min.js"></script>
    <script>vex.defaultOptions.className = 'vex-theme-os';</script>
  </body> -->
</html>
